.bookList {
  display: none;
  padding: 20px;
  background: white;
  list-style-type: none;
  border-radius: 15px;
  font-size: 20px;
  width: 150px;
}
ul {
  width: 130px;
}

div:hover a {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/bg.jpg");
  background-size: 100% 100%;
}

.dropbtn {
  background-color: #FFE882;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #B9A95F;
}

.dropdown {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


.show {
  display: block;
}
.close {
  background-color:#616161;
  color:white;
  border-radius:5px;
}
.closeTwo {
  background-color:#616161;
  color:white;
  border-radius:5px;
}
.closeThree {
  background-color:#616161;
  color:white;
  border-radius:5px;
}
.closeFour {
  background-color:#616161;
  color:white;
  border-radius:5px;
}
.closeFive {
  background-color:#616161;
  color:white;
  border-radius:5px;
}
.closeSix {
  background-color:#616161;
  color:white;
  border-radius:5px;
}
